<!-- 勉強会一覧ページ　 -->
<!DOCTYPE html>
<html>

<head>
    <title>
  seminar
    </title>
    <%- include('./component/in_css.ejs') %>
</head>

<body>
    <!-- Page Layout here -->
    <div class="row">

      <div class="col s3">
        <!-- Grey navigation panel -->
        <%- include('./component/sidebar.ejs') %>
      </div>  
      <div class="col s9">
         <div class="row">
          <div class="col s12">
         
          <h2 class="page-title"><%= title %></h2>
           <a href="/addSeminar" class="waves-effect waves-light btn right orange lighten-1">add Card<i class="material-icons">add_circle</i></a>
          </div>
            <!-- Teal page content  -->
            <%- include('./component/seminar/seminarCard.ejs') %>
            <%- include('./component/seminar/seminarCard.ejs') %>
            <%- include('./component/seminar/seminarCard.ejs') %>
      </div>
    </div>
</body>
<%- include('./component/in_js.ejs') %>
</html>